@using ReportsManager.Entities
@using ReportsManager.Services;

@inject ReportService ReportService
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Report Management</a>
</div>

<div class="collapse d-lg-block">
    <ul class="nav flex-column">
        @foreach (var report in reports)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@($"/report/{report.Id}")">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @report.Name
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private List<Report> reports;

    protected override void OnInitialized()
    {
        reports = ReportService.GetReports();
    }
}